<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Add User Form</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="C:\Users\andre\Desktop\Capstone Repo\Rat-Lab\RatLabPrototype\Scripts\login.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='login.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-form">
  <form>
    <h1><center>Add User</center></h1>
    <div class="content">
      <div class="input-field">
        <input type="new-user-email" placeholder="New User Email" autocomplete="nope">
      </div>
      <div class="input-field">
        <input type="password" placeholder="Password" autocomplete="new-password">
      </div>
      <div class="input-field">
        <input type="confirm-password" placeholder="Confirm Password" autocomplete="confirm-password">
      </div>
      <div class="input-field">
        <input type="admin-password" placeholder="Admin Password" autocomplete="admin-password">
      </div>
    </div>
    <div class="action">
      <button>Register New User</button>
    </div>
  </form>
</div>
<!-- partial -->
  <script  src="RatLabPrototype/Scripts/loginscript.js"></script>

</body>
</html>