<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Add User Form</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="C:\Users\andre\Desktop\Capstone Repo\Rat-Lab\RatLabPrototype\Scripts\login.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='login.css')}}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-form">
  <form>
    <h1><center>Add Admin</center></h1>
    <div class="content">
      <div class="input-field">
        <input type="new-admin-email" placeholder="New Admin Email" autocomplete="new-admin-email">
      </div>
      <div class="input-field">
        <input type="new-admin-password" placeholder="New Admin Password" autocomplete="new-admin-password">
      </div>
      <div class="input-field">
        <input type="current-admin-email" placeholder="Current Admin Email" autocomplete="current-admin-email">
      </div>
      <div class="input-field">
        <input type="current-admin-password" placeholder="Current Admin Password" autocomplete="current-admin-password">
      </div>
    </div>
    <div class="action">
      <button>Register New Admin</button>
    </div>
  </form>
</div>
<!-- partial -->
  <script  src="RatLabPrototype/Scripts/loginscript.js"></script>

</body>
</html>