<!DOCTYPE html>
<html>

<head>
  <title>Record Editing</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='webpage.css')}}">
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Raleway", sans-serif
    }
  </style>
</head>

<body class="w3-light-grey">

  <!-- Top container -->
  <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i
        class="fa fa-bars"></i>  Menu</button>
    <span class="w3-bar-item w3-right"><a href="{{ url_for('logout') }}" class="navbar-item">
        Logout
      </a></span>
  </div>

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-row">
      <div class="w3-col s4">
        <img src="/static/kentstatelogo.png" class="w3-circle w3-margin-right" style="width:90px">
      </div>
      <div class="w3-col s8 w3-bar">
        <span>Welcome, <strong>{{user}}!</strong></span><br>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
      </div>
    </div>
    <hr>
    <div class="w3-container">
      <h5>Damron Mueller Lab</h5>
    </div>
    <div class="w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
        onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i> Close Menu</a>
      <a href="dashboard" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i> 
        Dashboard</a>
      <a href="search" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i> 
        Search Rats</a>
      {% if admin %}
      <a href="addrat" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Add
        Rat</a>
      <a href="editrecords" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-history fa-fw"></i> 
        Edit Records</a>
      <a href="breedingpairs" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i> 
        Generate Breeding Pairs</a>
      <a href="reportlitter" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i> 
        Report Litter</a>
      <a href="reportdeath" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>
        Report Death</a>
      <a href="addadmin" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Add
        Admin</a>
      <a href="recordtransfer" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i> 
        Record Transfer</a>
      {% endif %}
      <a href="userguide" class="w3-bar-item w3-button w3-padding"><i class="fa fa-gear fa-fw"></i> 
        User Guide</a>
    </div>
  </nav>


  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
    title="close side menu" id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <div class="center w3-panel">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-twothird">
          {% if not editSpecificRat %}
          <form action="/editrecords" , method="POST">
            {{ form.sex }}
            {{ form.number (placeholder="Rat Number (ex. 100)")}}
            <!-- <button type="button" onclick="bringChecks()" id="continueButton">Continue</button> -->
            {{ form.continueButton }}
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    
    {% if errorText %}
    <div class="w3-twothird">
      {{errorText}}
    </div>
    {% endif %}

    {% if editSpecificRat %}
    <h1>Editing Rat {{num}}</h1>
    <form action="/editrecord/{{num}}" , method="POST">
      <div id="boxes" style="display: block;">
        <p>Enter data to update. Fields left blank will not be updated.</p>
        <label class="checkbox" for="birth"> Change Birthdate
          <span style="display: block;"> {{ form.birthdate }} </span>
        </label><br>
        <label class="checkbox" for="lastPair"> Edit date of Last Pairing
          <span style="display: block;"> {{ form.last_paired_date }}</span>
        </label><br>
        <label class="checkbox" for="lastLitter"> Change date of Last Litter
          <span style="display: block;"> {{ form.last_litter_date }}</span>
        </label><br>
        <label class="checkbox" for="weanedDate"> Change date the date the rat was weaned
          <span style="display: block;"> {{ form.weaned_date }}</span>
        </label><br>
        <label class="checkbox" for="numPair"> Edit Number of Pairings
          <span style="display: block;"> {{ form.num_times_paired }} </span>
        </label><br>
        <label class="checkbox" for="numLitter"> Edit Number of Litters
          <span style="display: block;"> {{ form.num_litters}} </span>
        </label><br>
        <label class="checkbox" for="colonyDate"> Change the Date the Rat was Added to the Colony
          <span style="display: block;"> {{ form.date_added_to_colony}} </span>
        </label><br>
        <label class="checkbox" for="defectLit"> Edit the Number of Litters with Defects
          <span style="display: block;">{{ form.num_litters_with_defects}} </span>
        </label><br>
        <label class="checkbox" for="exp"> Was the rat used in an experiment?
          <span style="display: block;">{{ form.experiment }}</span>
        </label><br>
        <label class="checkbox" for="supplier"> Is the rat from the supplier?
          <span style="display: block;">{{ form.supplierRat }}</span>
        </label><br>
        <label class="checkbox" for="ratSire"> Edit the Rat's Sire
          <span style="display: block;">{{ form.sire (placeholder="Sire Number (ex. 100)")}} </span>
        </label><br>
        <label class="checkbox" for="ratDam"> Edit the Rat's Dam
          <span style="display: block;">{{ form.dam (placeholder="Dam Number (ex. 100)")}} </span>
        </label><br>
        <label class="checkbox" for="ratStatus"> Edit the Rat's status
          <span style="display: block;">{{ form.status }} </span>
        </label><br>

        <!-- <input type="submit" value="Update" class="w3-button"></input> -->
        <button type="button" onclick="areYouSure()">Update</button>

        <div id="myModal" class="modal">
          <div class="modal-content">
            <p id="modalText"></p>
            {{form.update (type="submit")}}
            <!-- TODO: consistent button formatting b/c form button and HTML button look different -->
            <button type="button" onclick="closeModal()">No</button>
          </div>
        </div>

    </form>
    {% endif %}

  </div>

  <hr>
  <br>

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
  </footer>

  <!-- End page content -->
  </div>

  <script>
    var dropDown = document.getElementById( "Rat-Gender" );
    var number = document.getElementById( "Input" );
    var modal = document.getElementById( "myModal" );
    var boxes = document.getElementById( "boxes" );
    var continueButton = document.getElementById( "continueButton" )

    // Get the Sidebar
    var mySidebar = document.getElementById( "mySidebar" );

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById( "myOverlay" );

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open () {
      if ( mySidebar.style.display === 'block' ) {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
      } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
      }
    }

    // Close the sidebar with the close button
    function w3_close () {
      mySidebar.style.display = "none";
      overlayBg.style.display = "none";
    }

    function bringChecks () {
      // if ( dropDown.value != "" && number.value != "" )
      boxes.style.display = "block";
      continueButton.style.display = "none";
    }

    function areYouSure () {
      //if ( dDate.value != "" && coDeath.value != "" ) {
      modal.style.display = "block";
      document.getElementById( "modalText" ).innerHTML = "Are you sure?";
      //TODO: update "are you sure" with the actual values like it used to show previously
      //"Are you sure that rat " + dropDown.value.toUpperCase() + number.value.toUpperCase() +
      //" died on the date " + dDate.value.toUpperCase() + " because of " + coDeath.value.toUpperCase() + "?";
      //}
    }

    function closeModal () {
      modal.style.display = "none";
    }
  </script>

</body>

</html>